@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Epilogue:wght@500&family=Merriweather+Sans:wght@800&display=swap');

*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
    font-family: 'Comfortaa', cursive;
    scroll-behavior: smooth !important;
}

*::selection {
    color: var(--selection-color);
    background-color: var(--selection-bg-color);
}

@import "navbarStyles.scss";
@import "logo.scss";
@import "variables.scss";
@import "headerStyle.scss";
@import "templateStyles.scss";
@import "sampleDelStyle.scss";
@import "exportStyles.scss";

p {
    margin-bottom: 0 !important;
}

.error-404{
    height: 70vh;
}