.h3Heading {
    font-weight: 900;
    font-family: var(--heading-font);
}

.bannerBox {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 0.625rem;
    transition: all 0.2s ease-in-out;

    & img {
        border-radius: 10px;
    }
}

.bannerBox:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: all 0.2s ease-in-out;
}

.textDecNone {
    text-decoration: none;

    & p {
        color: var(--heading-color);
    }

    & h5 {
        color: var(--text-color);
    }
}

.textDecNone:hover {
    text-decoration: none;

    & p {
        color: var(--heading-color);
    }

    & h5 {
        color: var(--text-color);
    }
}

.inputText {
    border: none;
    background: transparent;
    border-bottom: 2px solid var(--before-hover-color);
    padding: 10px 20px;
    transition: all 0.2s ease-in-out;
}

.inputText:focus {
    outline: none !important;
    border-bottom: 2px solid var(--on-hover-color);
    transition: all 0.2s ease-in-out;
}

.blueBtn {
    border-radius: 20px;
    background-color: var(--export-btn-before-hover-bg-color);
    color: var(--export-btn-color);
    padding: 10px 50px;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    border: none;
}

.blueBtn:hover {
    background-color: var(--export-btn-on-hover-color);
    transition: all 0.2s ease-in-out;
    color: var(--export-btn-color);
}

.social-Cont{
    & img{
        border-radius: 15px ;
        height: 6.25rem;
    }
}