:root {
    --before-hover-color: #999999; //Before Hover on Items just like Hover Effect on Navbar
    --on-hover-color: #35c8ec; //On Hover on Items just like Hover Effect on Navbar
    --nav-background-color: white; //NavBar Background color
    --heading-color: black; //Heading color
    --text-color: black; //Text color
    --heading-font: 'Merriweather Sans', sans-serif; //heading font
    --blue-color: #5256ad;
    --selection-color: black; // on select foreground color
    --selection-bg-color: yellow; // on selection background color
    --divider-line-color: black; // Divider Line
    --export-btn-before-hover-bg-color: #999999; //export btn background color 
    --export-btn-on-hover-color: #35c8ec; // Export button background color on hover
    --export-btn-color: white; // export btn text color
    --template-border-style:  rgba(0, 0, 0, 0.35) 0px 5px 15px;
}